[2018-03-14 14:48] egeldenhuys opened #1 "Prototype - Create and Remove service"
The Angular5 front end will make use of the Docks API running on a Manager node in the swarm.
For this prototype we will make use of an unauthenticated endpoint. For example `http://host:port/docker/services/create`, where `host` is the IP of the Docks API server.

- [ ] Some button and text using Angular features
- [ ] Send GET request to `/services` and display running service ids
- [ ] Send POS

[2018-03-24 11:53] egeldenhuys opened #2 "Run Docks UI in nginx"
A simple deployment process would be to serve the interface using nginx.

Example usage:
`docker run -p 4200:4200 tripleparity/docks-ui`

For development we can run node in a container and mount the directory on the host.

[2018-03-24 13:18] egeldenhuys opened #3 "Property error on type "DockerService""
Introduced by 344d4691d68892d6cb963db335a55e28bbfa223a

[code]

[2018-03-24 15:27] #1 closed, assigned to CDuPlooy

[2018-03-24 15:27] #2 closed, assigned to egeldenhuys

[2018-03-24 19:28] FJMentz opened #5 "Readme to be updated?"
Should we remove the instructions for deployment from the docks readme since we now have instructions in our 'docks-demo' repo as well as the images being pulled to Dockerhub?

[2018-03-25 10:29] egeldenhuys commented on #5
Since building an image is trivial, we can instead add instructions on running the image and which ports should be exposed.

[2018-03-25 10:58] #5 closed, assigned to nobody

[2018-04-02 11:19] CDuPlooy commented on #3
I'm busy moving things around to the directory structure used by Compiax, those changes should also close this.

[2018-04-02 11:21] CDuPlooy opened #6 "Promises Or Observables"
See this [search](https://www.google.co.za/search?q=Promises+vs+Observables&oq=Promises+vs+Observables&aqs=chrome..69i57j35i39j0l4.3584j0j7&sourceid=chrome&ie=UTF-8)

I believe someone stated that promises are more sequential? In either case we should probably make a decision as soon as possible.

[2018-04-05 10:55] FJMentz commented on #6
Aren't Promises usually asynchronous unless forced not to be?

[2018-04-05 17:44] Jason-vh commented on #6
Promises are 100% asynchronous, designed to solve the so-called 'callback hell' that JavaScript and it's derivatives bring.

Edit: I've included a (very) brief description of my thoughts regarding the difference between Promises and Observables. I advise that you read up on both though, as choosing which to use is entirely user preference at the end of the day.

There are three main differences (f

[2018-04-07 10:06] #3 closed, assigned to nobody

[2018-04-07 10:13] CDuPlooy commented on #6
I suppose this issue was more about opening discussion between our team members to decide on either Observables  or Promises.

I thought about this and read up on it. We can also something similar to what netflix uses as described in this [thread](https://github.com/ReactiveX/rxjs/issues/556) by jayphelps. Or simply use toPromise if we want to await.

IMO we should use Observables because that is

[2018-04-10 14:58] egeldenhuys opened #8 "Build and test on Travis CI"
The Docker Hub builds are failing, would be nice to see that in Travis

[2018-04-12 05:37] CDuPlooy commented on #8
How would you go about that?

As done in [docks](https://github.com/TripleParity/docks/blob/travis-ci-build-docker-%235/.travis.yml)?

[2018-04-12 05:44] CDuPlooy opened #9 "Filter and list Containers"
We can use this for

* Search ( With additional query parameters )
* Listing containers

See the [docker engine API](https://docs.docker.com/engine/api/v1.37/#tag/Container); Additionally the current getContainers function should be modified to work with the query parameters.

[2018-04-12 05:44] egeldenhuys commented on #8
The Docks travis.yml is outdated. We only need to build the Angular app on Travis.

Something like:
[code]
Source: https://houssein.me/continuous-integration-angular-firebase-travisci

[2018-04-12 05:45] CDuPlooy opened #10 "Create a container"
See the [documentation](https://docs.docker.com/engine/api/v1.37/#operation/ContainerCreate)

There are quite a few parameters, for the demo we might want to use a prefilled form. Just a shot in the dark but after the container is created I suppose it would have to be [started](https://docs.docker.com/engine/api/v1.37/#operation/ContainerStart)

[2018-04-12 07:21] FJMentz opened #11 "Search by id / name / service / stack"
To be implemented. Search for container(s) by filtering through name / id / stack / service.

I guess it would be best not to specify what your searching for but search through all of these when typing in the search bar?

Also are we going to search after each input or after a delayed x milliseconds of no activity?

Also will the search query the back-end or just the array of containers?

Links to

[2018-04-12 07:23] FJMentz opened #12 "Stop container"
Button on each card (container) that allows the user to stop the container?

Should somehow not be on docks or docks-ui containers? (maybe add this constraint only later as this is the only containers we have running during the demo?)

[2018-04-12 07:26] FJMentz opened #13 "Login page"
A simple login page to be made. And all the functionality to go with it.

[2018-04-12 07:28] FJMentz opened #14 "Create a new stack"
Functionality (linked to a button) to add a new stack? If I understand correctly this will basically just be adding multiple containers linked to one stack?

@devosray can you verify or explain if I went off track?

[2018-04-12 07:41] FJMentz commented on #9
Do we want to query the back-end for the search? feels unnecessary  if we already have the containers in some data structure? @CDuPlooy

[2018-04-12 09:53] FJMentz commented on #12
Start and stop container seems to work now. Just has a small delay when stopping. Might want to look into this?

[2018-04-12 10:44] CDuPlooy commented on #9
Looking at the API provided by docker we should be able to set a filter on containers for the request. We thus only need to make one query to the backend or maybe a few on every other few keystrokes. I suggest we use ``Observable.debounceTime(x).subscribe()``

[2018-04-12 11:30] CDuPlooy commented on #12
The delay is due to the backend, cleanup being done by docker engine. I suggest adding a toast notification to just notify the user that something is happening. Maybe some animation.

[2018-04-12 12:37] CDuPlooy opened #15 "Directory Structure"
Should we move components into a _components directory? We are already doing this for _services and _models so I feel we might as well.

[2018-04-12 14:03] devosray commented on #14
Think of it as instead of uploading a Docker file or image tag to be created, you upload a whole Docker-compose file. Here is a really good example: https://docs.docker.com/get-started/part5/#add-a-new-service-and-redeploy

[2018-04-13 05:40] FJMentz commented on #13
Closed by pull #21

[2018-04-13 05:40] #13 closed, assigned to nobody

[2018-04-13 05:41] FJMentz commented on #12
This has been closed by pull #19 (i think)

[2018-04-13 05:41] #12 closed, assigned to nobody

[2018-04-13 05:43] FJMentz commented on #14
Front-end is paused and just waiting on backend.

[2018-04-13 06:06] devosray commented on #14
Working on it right now.

[2018-04-13 06:57] egeldenhuys opened #23 "Docker Hub image not working"
The image works when building locally but not when pulling from tripleparity/docks-ui:angular

[2018-04-13 07:33] egeldenhuys commented on #23
Solution:
[code]

It was most likely using old containers

[2018-04-13 07:33] #23 closed, assigned to nobody

[2018-04-14 09:41] #15 closed, assigned to nobody

[2018-04-14 10:08] FJMentz opened #26 "Move from Angular.Material to Bootstrap"
Any comments on this? I think it is worth it to move over to bootstrap as it more 'familiar' to most of us and also there is a lot of examples and support for bootstrap.

[2018-04-14 11:11] CDuPlooy commented on #26
I will do this either tonight or tomorrow while preserving the services.
Currently for IMY we are using [this](https://github.com/DownTownCookieFrenzy/play-music).

I will also be changing the directory structure. Any comments on this, requested changes maybe.

[2018-04-14 11:42] egeldenhuys commented on #15
What is reason behind the underscore convention?

[2018-04-14 11:47] FJMentz commented on #15
It's a convention also used by Compiax (and I believe in the community of angular) to destinguish between something and something else... @CDuPlooy will probably be able to describe better but thats what it comes down to.

[2018-04-14 12:29] egeldenhuys commented on #26
After looking at the docs for Bootstrap 4 and Angular Material, they both offer the same components. Bootstrap has more documentation and will probably have more examples since it is not restricted to Angular.

Since it is more familiar I am okay with switching over to Boostrap. What will be the implications on the current interface?

[2018-04-14 12:57] FJMentz commented on #26
As far as I know we'll just have to redo some styling, but taking into consideration what feedback we received I'm looking into a different approach on the cards so the posibility that everything will have to change is already out there. Also the html that will be affected will be quick and easy to change.

So in conclusion I feel the impact of switching over will be minimal to the existing projec

[2018-04-14 13:08] egeldenhuys commented on #26
+1 for Bootstrap

[2018-04-17 06:34] FJMentz opened #27 "Pictures in cards"
I would like to make a request to remove the pictures from the cards and rather show the status by an icon or a colour title or something like that.

I feel that this will make the cards smaller making it easier to scale the cards smaller to show more on a page.

[2018-04-17 13:54] egeldenhuys commented on #27
What if we replace the cards with a table?

[2018-04-17 13:57] annamarieHelberg commented on #27
I think we should have both a cards and table view as part of scalability.

[2018-04-17 13:59] FJMentz commented on #27
I agree with @annamarieHelberg that having both will give the user a better overview of the system for different needs and functions.

[2018-04-17 15:37] CDuPlooy commented on #26
Because of the changes to the directory structure we won't be able to copy paste any code from the angular branch ( not without modification anyway ). In the bootstrap_migration branch I have already added an example of how to get a list of containers and serialise them to container models. I think this is the most elegant approach for now.

Note that each service corresponds to an entity listed i

[2018-04-17 15:44] CDuPlooy commented on #11
I like spotify's approach to this. Without adding any special parameters it works as general search but you could for instance do ``genre:rock year:2018``. This would come in handy if say we wanted to see all the containers which have been down since some point in time.

I'd have to look into how easy it is to create, the API used in the angular branch has support for a filter parameter but we wer

[2018-04-19 21:51] egeldenhuys opened #28 "View Container Logs"
As a user I want to be able to view the output to STDOUT and STDERR of a container

[2018-04-19 21:51] egeldenhuys opened #29 "View Service Logs"
As a user I want to be able to view the logs for services in the swarm

[2018-04-19 22:46] #28 closed, assigned to nobody

[2018-04-19 22:46] #29 closed, assigned to nobody

[2018-04-19 22:47] egeldenhuys opened #30 "View Logs"
View logs for
- [ ] Container
- [ ] Service
- [ ] Task

[2018-04-19 22:49] egeldenhuys opened #31 "Container List"
Should give a overview of all containers on manager node:
- [ ] Name
- [ ] State
- [ ] Image
- [ ] Stack (optional)
- [ ] IP Address
- [ ] Published Ports

[2018-04-19 22:53] egeldenhuys opened #32 "Container Detail"
View more detailed information about the container:
- [ ] ID
- [ ] Name
- [ ] Status
- [ ] Created
- [ ] Start Time
- [ ] Image
- [ ] Port Configuration
- [ ] Networks*
- [ ] Volumes*

[2018-04-19 22:54] egeldenhuys opened #33 "Stack List"
View a list of stacks in the swarm:
- [ ] Stack Name

[2018-04-19 22:54] egeldenhuys opened #34 "Stack Detail"
More Detailed information about the stack:
- [ ] Services*
- [ ] Tasks*
- [ ] Compose File

[2018-04-19 22:55] egeldenhuys opened #35 "Service List"
Summary of Services in swarm:
- [x] Name
- [ ] Stack
- [x] Image
- [x] Mode
- [x] Replicas
- [x] Published Ports
- [x] Last Update

[2018-04-19 22:56] egeldenhuys opened #36 "Service Detail"
- [x] ID
- [x] Name
- [ ] Stack
- [x] Image
- [x] Mode
- [x] Replicas
- [x] Published Ports
- [x] Created At
- [x] Last Update
- [ ] Volumes*
- [ ] Networks*
- [x] Tasks*

[2018-04-19 22:57] egeldenhuys opened #37 "Task List"
- [x] ID
- [ ]  Status (Awaiting Task Service to implement)
- [ ] Node (Awaiting Node Service)
- [x] Last Update

[2018-04-19 22:58] egeldenhuys opened #38 "Task Detail"
The same as the list. Perhaps not required

- [x] ID
- [x] Status
- [x] NodeID (as specified in #37)
- [x] Created
- [x] View Logs (as mentioned in #42)

[2018-04-19 22:59] egeldenhuys opened #39 "Container Operations"
- [ ] Create
- [x] Start
- [x] Stop
- [x] Remove
- [ ] Pause
- [ ] Resume
- [ ] Restart
- [ ] View Log
- [ ] Inspect

[2018-04-19 22:59] egeldenhuys opened #40 "Stack Operations"
- [ ] Create
- [ ] Remove

[2018-04-19 23:00] egeldenhuys opened #41 "Service Operations"
- [ ] Create
- [x] Remove (added directly to the list view but will be in the operations page also)
- [ ] Remove (in the operations page)
- [ ] Scale
- [ ] Update (Name, img, mode)
- [ ] View Logs

All implemented in services now.

[2018-04-19 23:00] egeldenhuys opened #42 "Task Operations"
- [ ] View Logs

[2018-04-19 23:10] egeldenhuys opened #43 "View Important Events"
It would be useful to somehow see when a node/service/container has gone offline sometime in the past.
Perhaps Docker already supports this?

[2018-04-19 23:12] egeldenhuys opened #44 "Deploy pre-configured stacks"
Examples:
- GitLab
- Nginx Reverse proxy with Let's Encrypt
- Log Monitoring Service
- Emptiness :wink:

[2018-04-19 23:17] egeldenhuys opened #45 "Screen Designs"
A quick stub, update details here please.

- [ ] General Layout
- [ ] Login
- [ ] Deploy pre configured stack
- [ ] Containers
- [ ] Services
- [ ] Stacks
- [ ] Logs
- [ ] Networks
- [ ] Volumes
- [ ] Tasks

[2018-04-19 23:18] egeldenhuys commented on #45
Originally posted by @annamarieHelberg on TripleParity/docs/issues/15

[2018-04-19 23:34] egeldenhuys opened #46 "Angular Ahead-of-Time (AOT) Compiler"
https://angular.io/guide/aot-compiler

Why?

And some other reasons...

[2018-04-20 04:47] egeldenhuys opened #47 "Slack Integration"
Notify the Slack channel when an important event occurs (need to define these events) such as when a node in the swarm becomes unavailable.

Probably more backend related

[2018-04-20 04:59] egeldenhuys commented on #43
It would be great if we can integrate a lightweight log monitor service. Something that will monitor logs for errors and intrusions and then send a Slack notification and also display the event on the GUI.
With lightweight I mean something that requires less than 100 MB ram. The ELK stack looks good, if you have more than 4 GB of ram.

[2018-04-20 05:42] CDuPlooy opened #48 "Authentication via JWT"
See [this](http://www.devglan.com/spring-security/angular-jwt-authentication)

[2018-04-20 09:58] egeldenhuys opened #49 "Network List"
- [ ] NAME
- [ ] DRIVER
- [ ] SCOPE

[2018-04-20 09:59] egeldenhuys opened #50 "Network Detail"
- [ ] Containers

[2018-04-20 10:03] egeldenhuys opened #51 "Volume List"
- [ ] Name
- [ ] Driver
- [ ] Mount point
- [ ] Scope

[2018-04-20 10:05] egeldenhuys opened #52 "Volume Detail"
- [ ] Containers

[2018-04-20 10:09] egeldenhuys opened #53 "Volume Operations"
Commands:
- [ ] create      - Create a volume
- [ ]   inspect     - Display detailed information on one or more volumes
- [ ]   prune       - Remove all unused local volumes
- [ ]   rm          - Remove one or more volumes

[2018-04-20 11:57] egeldenhuys opened #54 "Network Operations"
Not all of these have to be implemented.

- [ ]   connect     - Connect a container to a network
- [ ]   create     - Create a network
- [ ]   disconnect  - Disconnect a container from a network
- [ ]   inspect      - Display detailed information on one or more networks
- [ ]   prune    -    Remove all unused networks
- [ ]   rm        -   Remove one or more networks

[2018-04-20 11:59] egeldenhuys opened #55 "View and Manage Containers"
Docks should be able to view and manage containers running on the manager node.

[2018-04-20 12:04] egeldenhuys opened #56 "View and manage Services and Tasks"
Docks should support viewing and managing services and tasks.

[2018-04-20 12:11] egeldenhuys opened #57 "View and manage Networks and Volumes"
Docks should be able to view and manage Networks and services as with the CLI

[2018-04-23 07:07] egeldenhuys opened #58 "Login Page"
Should send details to backend and store auth token

[2018-04-23 14:41] CDuPlooy commented on #6
We'll be using Observables.

[2018-04-23 14:41] #6 closed, assigned to CDuPlooy

[2018-04-23 14:43] CDuPlooy commented on #8
Builds are now passing for the bootstrap_migration branch.
Builds will fail if files do not pass linting or any of the angular tests defined in *.spec.ts fail. May I close this?

[2018-04-24 08:13] egeldenhuys commented on #45
Waiting for @Paulo-W to post links to the design documents

[2018-04-24 08:16] egeldenhuys commented on #45
[View Screen Designs on Google Drive](https://drive.google.com/open?id=12N5U8m1kqp8araVw38xcSJrDwJq-omEK)

[2018-04-24 08:32] egeldenhuys commented on #55
I made the wrong conclusions by looking at Portainer. We do not manage containers in swarm mode.

[2018-04-24 08:32] #55 closed, assigned to FJMentz, annamarieHelberg

[2018-04-24 08:33] #9 closed, assigned to CDuPlooy

[2018-04-24 08:33] #10 closed, assigned to annamarieHelberg

[2018-04-24 08:33] #31 closed, assigned to FJMentz

[2018-04-24 08:33] #32 closed, assigned to FJMentz

[2018-04-24 08:33] #39 closed, assigned to annamarieHelberg

[2018-04-24 08:35] egeldenhuys commented on #27
No longer applicable - Containers are no longer part of the system.

[2018-04-24 08:35] #27 closed, assigned to annamarieHelberg

[2018-04-24 08:44] annamarieHelberg opened #62 "Work on Tasks and viewing them for the first sprint"
My job for this sprint was to view and implement all of the container operations but as we are not going to do that anymore should I implement the task view / operations instead? That was scheduled for sprint 2?

[2018-04-24 09:37] egeldenhuys commented on #26
For now you can assume that the API specification follows the Docker API.
The name of endpoints on Docks will change to something like `POST /api/services/{id}/logs` and authentication will be added to the request body.

The response may be modified to include two objects: a Status and a Response. Where status will include a meaningful status message, and response will be the response from Docker.

[2018-04-24 09:49] egeldenhuys commented on #62
I have now also moved the Task related issues to Sprint 1, @FJMentz can you please facilitate assigning responsibilities for #56

It would be good if you can also work on an issue in the #56 Epic

[2018-04-24 10:38] FJMentz commented on #62
Will do so as soon as I get to my laptop👍🏻

[2018-04-24 11:29] #8 closed, assigned to CDuPlooy

[2018-04-24 20:50] FJMentz commented on #38
Just a note that the implementation of how to get the data is the same as #37, this issue is more focused on displaying it for an individual task.

[2018-04-27 05:24] egeldenhuys opened #64 "Address of Docks API"
The browser needs to know the address of the docks API server.

Since we serve static files, it has to be configured using the web interface and then stored for future sessions.

This should be done on the login screen. We can default to docks.currentdomain.com or the IP address in the URL bar.

An alternative is to use environmental variables for the docks-ui container and have a script run when

[2018-04-27 10:33] FJMentz opened #65 "Navbar revamp"
I want to redo the navbar, will create a branch for it and get everyone's input and feedback and then we can decide if we want to continue it like this or rather stay with the navbar as is.

[2018-04-27 11:03] egeldenhuys commented on #65
How does your design compare to the current design?
[Screen Designs on Google Drive](https://drive.google.com/drive/folders/12N5U8m1kqp8araVw38xcSJrDwJq-omEK)

Can you make us a model so we can discuss it before implementing?

[2018-04-27 11:07] FJMentz commented on #65
@egeldenhuys, Currently it is full of example list items, but does kinda correspond to the screen designs.

Just want to get feedback on this before I start adding more detail and styling.

See this image:
<img width="1680" alt="screen shot 2018-04-27 at 13 05 57" src="https://user-images.githubusercontent.com/17801831/39359803-c1b447c0-4a1b-11e8-9fe8-d1c5e1126e66.png">

[2018-04-27 11:10] FJMentz commented on #65
I pushed to branch NavbarRevamp_36... Only noticed now that the issue number on that branch is very very wrong... is there a way to rename a branch? @egeldenhuys

Or should I rather just create a new branch and delete this one?

[2018-04-27 11:13] egeldenhuys commented on #65
To rename a branch just create a new branch from the HEAD of your old branch with a different name

[2018-04-27 11:16] egeldenhuys commented on #65
That sidebar looks good :+1:

[2018-04-27 13:53] FJMentz opened #66 "Logo"
So as mentioned long ago by @devosray we might need to look into a logo. I have some ideas, but don't have nearly enough skill to illustrate this. I know someone that wouldn't mind designing a logo for us, but we need to give her ideas so that she can design something for us.

Can everyone that wants to, help think of a cool design that we as a team can look at and then when we come to an agreemen

[2018-04-27 15:28] annamarieHelberg opened #67 "Navigation between pages"
It has been discussed that the basic navigation will include the different views, managing stacks/services/tasks and adding stacks/services/tasks. The navigation can be reduced to the basic views and from the view page navigation to the add or manage page. However, I feel that this approach should be avoided as the extra navigation can become tedious and cumbersome. A better approach would be to h

[2018-04-27 15:44] CDuPlooy commented on #26
Closed by 6dfaf0ddbb4ff86a7b53ddfe40960bc092fbbc5b

[2018-04-27 15:44] #26 closed, assigned to CDuPlooy

[2018-04-27 17:18] FJMentz commented on #67
I agree that we should try to keep the navigation on the navbar as simple as possible (so one click -> page changes).

Also me and @CDuPlooy were discussing the fact that we should try to make routing só that a power-user can get to a specific desired page just by using the 'url'.

[2018-04-28 01:00] FJMentz opened #69 "Task name"
I've been playing a lot with the api and noticed that in the example for listTasks the one Task has a name attribute and the other doesn't.

Can we make the assumption that most of our tasks will have a name and the minority won't? Or is this a far fetched assumption?

[2018-04-28 01:03] FJMentz commented on #37
In regards to Node, would you like a nodeID or a node name? Not sure if it is 100% right to assume it has a name.

If we cannot make the assumption we can display the name (if it has one) and of not we display the ID?

[2018-04-28 01:04] FJMentz commented on #69
As mentioned in #37, if we cannot make the assumption, we can display the name (if it has one) and of not we display the ID?

[2018-04-28 07:26] annamarieHelberg commented on #37
I would prefer the name if we could as no one will ever memorize the node ids of all of their machines. I will look into that

[2018-04-28 07:59] egeldenhuys commented on #37
Each node should have a hostname (in most cases) and we should display this. I am not sure how to set the `Spec/Name` value shown in the [API](https://docs.docker.com/engine/api/v1.37/#operation/NodeInspect). For the detailed view we can show the node ID

[2018-04-28 08:04] egeldenhuys commented on #69
The hostname attribute should be present in most cases, so if there is no name and no hostname then we can display the ID, or a concatenated version of it

[2018-04-28 08:55] egeldenhuys commented on #67
What I would like to see is a list of pages and the functions they will provide as well as the URL to access that page. The goal is to see which functions map to which pages.

Example:
- `/` - Landing page. Shows dashboard of current Swarm State
- `/stacks` - Shows stacks. Can filter and sort to find a stack. Can click on stack to go to `/stacks/<name>`
- `/stacks/<name>` - Show `inspect` output f

[2018-04-28 12:19] #65 closed, assigned to FJMentz

[2018-04-28 12:22] FJMentz commented on #42
Can we link this to #38 ? Then the log will displayed along with the details of the specified Task?

[2018-04-28 13:20] annamarieHelberg commented on #42
I think that can work. How will we implement it though? I am sure the log will be longer than a single line

[2018-04-28 13:25] FJMentz commented on #42
Accordion maybe? I see TaskLog only returns a string (no idea how long and what it contains). Will have to go test and see how much/what it actually gives.

[2018-04-28 13:29] annamarieHelberg commented on #42
We can do the accordion in the other one. We can also do a modal type thing if someone is up to it

[2018-04-28 13:38] FJMentz commented on #42
Was thinking to put the Detail (#38) in a modal and the have the logs in that modal as a Accordion or something.

[2018-04-28 15:12] egeldenhuys commented on #42
@FJMentz , the string returned will be the entire log file, it could easily be a couple of MB

[2018-04-28 15:15] FJMentz commented on #42
@egeldenhuys, Do you maybe know the structure of this log file/string? It would be good to know that each entry for example is separated by a semi-colon or a newline character. I've looked around a bit but could not find an example.

[2018-04-28 15:20] CDuPlooy commented on #42
See the section on getting tasks logs in the docker engine API.

I don't think the return value will be very structured or predictably structured at all.

[2018-04-28 15:24] FJMentz commented on #42
I have a probably crazy stupid suggestion:

Can we maybe, instead of trying to display an unstructured string that can by very long or very short, rather provide it to the user as a text-file they download? (No idea how possible or how stupid this is, just putting it out there)

[2018-04-28 15:26] CDuPlooy commented on #42
@FJMentz I was thinking the same thing.

The api does mention journald or json-file drivers. We can have a look at this once we don't have to use the mock api anymore.

[2018-04-28 19:33] egeldenhuys commented on #42
@FJMentz , the contents of the log depends on the application, it could be a structured nginx log, or debug output from the application. For example `[INFO] Starting docks v0.0.1...\n[ERR] Please mount the docker socket\nThis is probably not an error with npm\n172.17.0.1 - - [28/Apr/2018:19:01:01 +0000] "GET / HTTP/1.1" 304 0 "-" "Mozilla/5.0 (X11; Linux x86_64; rv:59.0) Gecko/20100101 Firefox/59.

[2018-04-28 19:42] FJMentz commented on #42
@egeldenhuys, would it suit you then if we basicaly have a textarea and chuck the log (as we get it from the api) directly in there and also provide the functionality to download it as a text-file (for the users that prefer to have a log they can open in their own text-viewer)?

[2018-04-29 06:01] egeldenhuys commented on #42
Throwing the string as received from the API into a read only text area  of reasonable width and height is good. A download feature will also be convienient

[2018-04-29 14:44] FJMentz opened #70 "Welcome screen"
I'm going to work on a welcome page that's basically just going to be a page that welcomes the User to the system and give advice on where to find what. This will act as a 'home page' which the user will see as soon as they logged in.

Any comments on this?

[2018-04-29 14:51] egeldenhuys commented on #70
It would be nice to have a welcome screen or some type of help in the system. As a user of the system I would expect it to give me an overview of the features and where to find them, as well as explanation to any new concepts introduced.

[2018-04-29 15:04] FJMentz commented on #70
Every time a new concept is included, do we just prepend it to the page as a 'patch note' or would you prefer a section on the page just for new updates that gets overwritten every-time a new concept is released?

Scenario 1:

Welcome message
Basic concepts
Newest patchnote
List of older patch-notes (desc)

Scenario 2:

Welcome message
Basic Concepts
Latest patch-note

[2018-04-29 20:38] egeldenhuys commented on #70
For the "patch notes" we can direct the user to the `CHANGELOG.md` which will be introduced later.

An alternative to a welcome screen is to have question mark icons next to headings or actions to give a brief explanation.

[2018-04-30 02:07] FJMentz commented on #69
As it is implemented now, we look for a name, and if not present we use a concatenated version of the ID (concatenated to 6 characters) prepended by 'ID: ' to clarify that it is not the name of the Task.

I'm not exactly sure what you mean by a hostname (or rather I cannot find anything referring to that from the [API page](https://docs.docker.com/engine/api/v1.37/#operation/TaskList)). Can you ma

[2018-04-30 02:07] #69 closed, assigned to nobody

[2018-04-30 02:09] #62 closed, assigned to nobody

[2018-04-30 02:13] FJMentz commented on #42
With your permission (@egeldenhuys) I would then add this to the details-view of a task (thus linking it to #38).

[2018-04-30 02:16] ggcarlosr commented on #66
Hello, I am available to help create a logo that identifies them. what are your requirements

[2018-04-30 02:16] FJMentz commented on #36
@egeldenhuys, can you maybe explain what you want for **Stack**, **Volumes** and **Networks**?

[2018-04-30 06:59] egeldenhuys commented on #36
For Stack, it needs to show the name, or a link to the stack the service is optionally part of.

Volumes - Display the volumes that are attached to the service. From `docker inspect service {id}
 - Volume Name
 - Volume Source
 - Volume Target

Networks - Display networks attached to the service. It seems the inspect will give you a network ID, then inspecting the network id will give more detail.

[2018-04-30 07:03] egeldenhuys commented on #42
@FJMentz , sounds good

[2018-04-30 12:04] egeldenhuys opened #74 "Access URLs directly in nginx"
Should be able to visit `http://example.com/view/tasks` without getting 404 error

[2018-05-01 07:17] egeldenhuys commented on #74
Closed by #73

[2018-05-01 07:17] #74 closed, assigned to egeldenhuys

[2018-05-01 07:18] egeldenhuys commented on #46
Closed by #73

[2018-05-01 07:18] #46 closed, assigned to egeldenhuys

[2018-05-01 12:31] egeldenhuys commented on #67
Implemented by #74

[2018-05-01 12:44] egeldenhuys commented on #67
@annamarieHelberg, my question put differently: What items do you suggest placing in the navbar?

[2018-05-01 12:50] annamarieHelberg commented on #67
I suggest we link to every page. For example, task view and the detail view as well.

My only concern is that it will not be well received if the user (a.k.a. Compiax) have to go to a task page, then to the lost view page and then lastly to the details page to look at the details of the tasks. A direct navigation to that page will be preferred.

[2018-05-01 16:49] ghost commented on #67
@annamarieHelberg and everyone else I realise we will be discussing this come thursday but there are a couple things I would like to bring up about this in the meantime.

1. speaking from previous mistakes I made last year flooding the user
with information in the navbar is never a good idea and although it may
seem like its really intuitive and simple to use dropdowns in navbars
its proven to be

[2018-05-01 17:10] FJMentz commented on #67
Make note of the following:

page as one can only find out details of a selected task/service/volume etc.
- There will not be a direct link to the details view. This will be accessed from the cards view

listview then details, would things like the viewing not be set up
automatically as in when the user clicks on "tasks" they will see a
list view and they can then change it to a card view etc by t

[2018-05-01 17:21] ghost commented on #67
We can talk about it come thursday, if you semi spoke about alternative plans I am sorry but as for your first statement you are contradicting the comment above mine so we can talk about it Thursday

[2018-05-01 17:43] FJMentz commented on #67
Just leaving this here for the discussion:

<img width="619" alt="screen shot 2018-05-01 at 19 40 11" src="https://user-images.githubusercontent.com/17801831/39485000-c73e4948-4d77-11e8-892a-6475d61d9b4b.png">

[2018-05-03 08:54] egeldenhuys commented on #37
Closed by #73

[2018-05-03 08:54] #37 closed, assigned to FJMentz, annamarieHelberg

[2018-05-03 18:34] ghost commented on #67
I have uploaded a folder to screen designs called idea 1 available via google drive
(https://drive.google.com/drive/folders/1wBfqMUDN_5yx_vSul9rqmPTQGR1cjwo4)

This goes over the first idea discussed in todays meeting I will upload the next one soon please go over it and let me know if there is anyhing you would like to add.

[2018-05-03 19:43] ghost commented on #67
Also ideas 2 have now been added as well I will finalize idea 4 tomorrow you can find all on the drive.

[2018-05-03 19:58] FJMentz commented on #67
The layer in idea2 dropdownselecting is a bit off, also please add a space between he dropdown and side bar.

[2018-05-03 20:01] FJMentz commented on #67
Referencing your idea 1, you need more levels of sub menus eg Task->views.

Also a thing we all agree on is not choosing a <item> to perform an operation on on a general page. This will be implemented as: from a view you click on an item and it takes you to the operations page for that button.

[2018-05-03 20:09] annamarieHelberg commented on #67
I agree with Francois with that after clicking on a certain service (or whatever) it will take you to a page where the operations can be executed on that specific service (or whatever). So it shouldn't be in the navbar.

The rest looks really nice

[2018-05-04 09:01] ghost commented on #67
I agree with you guys just implemented the ideas discussed in meeting. I will update the nav bar now.

[2018-05-05 08:58] CDuPlooy commented on #66
Thank you so much for offering to help with the logo. @FJMentz has someone who is already looking at this if I'm not mistaken, but I'll ask him to reply to this.

[2018-05-05 13:32] annamarieHelberg opened #75 "Information the graph page must display."
Hi guys. The graph code is up and running. I just want your input in what you would like graph to display. I looked at what Portainer does and we can follow a similar approach but I would like your opinions as well. Also, I think we should put the graph view on a separate page as that will just simplify some logic.

[2018-05-05 13:40] FJMentz commented on #75
Which branch is this done on?

[2018-05-05 13:49] annamarieHelberg commented on #75
I created a new branch (graphs). I pushed it now

[2018-05-05 16:31] FJMentz commented on #66
Ah yes, Sorry for only replying now @ggcarlosr. Had a hectic week at university and forgot to reply. Unfortunately we have already found someone to look into this. Thank you for the offer though😄

[2018-05-05 16:36] FJMentz commented on #58
For demo 3 this will be the only authentication.

[2018-05-05 16:37] FJMentz commented on #64
@CDuPlooy, will you have a look at this, if you haven't already 😅

[2018-05-05 16:46] FJMentz commented on #67
I have looked at the designs and here is my feedback so far:

- Idea 1 is still not complete (sub-menus haven't been added)

- I like the idea of having the dropdown in the list view [in idea 3](https://docs.google.com/drawings/d/1Z7llBkNhHvFC7ShABr58UvpAsw7vIPehqgBXkxvSla0/edit) if it would take you to the correct tab in the operations view [in idea 4](https://docs.google.com/drawings/d/16q3J9mNl

[2018-05-05 16:54] ghost commented on #67
@FJMentz I did not change Idea 1 as I saw no purpose. It has been discused and stated here that we will not have a direct link to any of the operations pages so taking out the operations in the nav bar leaves you with just the views this would result in sub-menues as follows
task
   -> views
       ->list
       ->card ....

there is no point of this. Furthermore I have been busy with the card des

[2018-05-05 17:43] FJMentz commented on #67
@Paulo-W that is not what I mentioned that needed to change. However due to reasons I will now be taking over this issue. Will give update soon.

[2018-05-05 18:22] egeldenhuys commented on #58
@FJMentz, Do you mean the JWT token will not be sent for other requests to the Docks API?

[2018-05-05 18:55] FJMentz commented on #58
As far as I remember this is what we discussed today? I might have understood wrong? @egeldenhuys

[2018-05-05 18:59] egeldenhuys commented on #58
If all API requests are implemented in a service(s) then the changes should be minor. I will review again once the Docks API fully supports authentication using JWT

[2018-05-07 13:22] annamarieHelberg commented on #58
Check the loginPage commit. My comment describes why I assigned you both. I didn't state this but @CDuPlooy and I will do the authentication as soon as the backend has implemented it

[2018-05-07 13:26] egeldenhuys commented on #58
Commit and message is [here](https://github.com/TripleParity/docks-ui/commit/9835155d18c2f0c8a23e3958d2fb9c102c2e777c)

[2018-05-08 09:20] CDuPlooy commented on #57
CreateVolume is not currently working. See https://github.com/TripleParity/docks-api/issues/34

[2018-05-08 12:18] FJMentz commented on #58
Thank you @annamarieHelberg and @CDuPlooy for taking this :D

[2018-05-08 12:50] annamarieHelberg commented on #58
We need you guys to design the page though 😅

[2018-05-08 15:12] FJMentz commented on #67
This was discussed with Jason this afternoon and he gave us a clear-ish indication of how to go about this. I will show/explain to everyone as I see you in person. For now this is the list of people that know:

- [x] Francois
- [x] Evert
- [x] Paul
- [ ] Armand
- [ ] Anna Marié

I will start implementing it from tomorrow.

[2018-05-08 15:25] egeldenhuys commented on #57
TripleParity/docks-api#34 has been fixed

[2018-05-08 17:11] CDuPlooy commented on #64
The configuration service is used as a central point to change , well configuration.

We can do

[code]

At which point all of the API calls will use that as the new location of the API. This could be done in login component - I'll see if I can find a way to use the ip address in the url bar by default for demo sessions.

[2018-05-08 17:13] CDuPlooy commented on #57
I was really hoping for something fancy like a popup notification below my reference to indicate that the issue was closed. Colour me sad.

:cry:

[2018-05-08 18:52] egeldenhuys commented on #57
The best I could do :laughing:

[2018-05-08 20:22] devosray opened #80 "Simple swarm creation script"
There is a need for a simple script that will create a simple swarm for development purposes.

[2018-05-09 08:09] egeldenhuys commented on #80
My docker machine is having problems assigning IPs to the created virtual machines

[2018-05-09 17:54] CDuPlooy commented on #58
An example of logging in and acquiring a jwt.

[code]

If the second function is called an error has occurred and you'll need to notify the user. If the first anonymous function is fired then you have acquired a jwt. It will be automatically appended to all subsequent http requests.

[2018-05-09 21:32] FJMentz commented on #80
@devosray, Just a question, for Demo purposes, will we use the same script? Also for the demo, can we maybe add a service that has logs (nginx doesn't seem to have any) to show that the logs actually do work?

[2018-05-09 21:40] FJMentz commented on #38
Was completed in PR #79 👍

[2018-05-09 21:40] #38 closed, assigned to FJMentz

[2018-05-09 22:15] FJMentz commented on #36
Adding this to the Card view as well

- [x] ID
- [x] Name
- [x] Image
- [x] Mode
- [x] Replicas
- [x] Last Update

[2018-05-09 22:34] #42 closed, assigned to FJMentz

[2018-05-09 22:46] FJMentz commented on #35
@egeldenhuys, Can I make a suggestion to remove published ports here and only have it in the card view? At the moment it might just look a bit unappealing to some. If it's not too unappealing we can leave it as is.

Example below (fully expanded with only one port):
<img width="1113" alt="screen shot 2018-05-10 at 00 45 28" src="https://user-images.githubusercontent.com/17801831/39843471-772c90e8-

[2018-05-09 23:59] FJMentz commented on #67
Didn't mean to close that before it was actually implemented... oops 😨

[2018-05-10 04:54] egeldenhuys opened #85 "Only send JWT to Docks API"
From #83

[2018-05-10 05:18] egeldenhuys commented on #35
Card view only is fine :+1:

[2018-05-10 12:06] ggcarlosr commented on #66
Hello friend, I have seen that you have reopened the logo application issues, I am interested in helping, what would be the requirements you need for the image that represents them.

[2018-05-10 12:23] FJMentz commented on #66
Hi @ggcarlosr, as mentioned before, we unfortunately already found someone to design the logo😅, I only opened the issue to link to the PR. Once again thank you for the offer!

[2018-05-11 08:30] devosray opened #92 "Obtain and display username from backend"
Currently, a placeholder name is used instead of the name of the user. Until the backend implements the required functionality, a different placeholder must be used.

[2018-05-11 12:04] #80 closed, assigned to devosray

[2018-05-11 12:05] #66 closed, assigned to nobody

[2018-05-11 12:06] egeldenhuys commented on #64
@devosray has a different view to the architecture in this regard.

[2018-05-11 19:46] egeldenhuys opened #100 "Cannot communicate with backend - no JWT to send"
The backend now enforces JWT Auth, however login has not yet been implemented.

Requires:
~#29~ #85
#58
#48

[2018-05-11 22:34] egeldenhuys opened #101 "Volume list view creates volume"
Payload
[code]

[2018-05-12 12:37] egeldenhuys opened #102 "Service card view duplicates tasks"
#### Steps to reproduce the issue

1.  Navigate to services card view
2. Click on service card
3. Close card
3. Click on same card again

#### What's the expected result?
- The tasks displayed do not change unless the scale has also changed

#### What's the actual result?
- Tasks associated with the service are duplicated in the view

#### Additional details / screenshot

- ![screen shot 2018-05-1

[2018-05-12 12:49] egeldenhuys opened #103 "Highlight active view in navbar"
It would be useful to see which tab the view is currently on

[2018-05-12 13:00] FJMentz commented on #102
@egeldenhuys Ahh, had the same issue with other views

[2018-05-12 13:02] FJMentz commented on #103
@egeldenhuys Yes, the navbar as it is now was just to get a final project asap, the nav still has a lot of changes that needs to be applied. Thank you for the feedback tho😁

[2018-05-12 13:05] egeldenhuys opened #104 "Volumes card view inconsistent width"
If this is an intended feature then let me know and close the issue :wink:

#### Steps to reproduce the issue

1.  Visit Volume Card View with volumes that have long and short mount points

#### What's the expected result?
- Text fields that are too long are ellipsized or wrapped so that one card does not take up the entire width of the screen

#### What's the actual result?
- Cards are as wide as

[2018-05-12 13:07] FJMentz commented on #104
@egeldenhuys, ui was basically just made to be a 'dont-break' prototype for the demo, everything still needs to be finished.

[2018-05-12 13:08] egeldenhuys opened #105 "Volumes card view modal dialogue appears as a card"
#### Steps to reproduce the issue
1.  Navigate to volume card view
2. Click on card

#### What's the expected result?
- A modal dialogue as with the Task Card View

#### What's the actual result?
- The dialogue is added as a card to the bottom of the card view

#### Additional details / screenshot
![volume_modal](https://user-images.githubusercontent.com/5778739/39957622-4a0df5e0-55f6-11e8-82ba-f8

[2018-05-12 13:11] egeldenhuys commented on #104
Just enumerating the bugs as I find them in master to keep the surprises to a minimum

[2018-05-12 17:39] CDuPlooy commented on #101
'payload' 😆

In some of the components you'll find code creating something to display because either the ui component has not been finished and/or I was playing and forgot to remove that line. In this case we were waiting on the creation of a ui component.

[2018-05-12 17:45] CDuPlooy commented on #102
This is due to  services being pushed to an initially empty array instead of assigning the returned array.

EDIT:
might 😆

[2018-05-14 07:25] FJMentz opened #106 "Change the way styling is done"

[2018-05-14 07:28] FJMentz commented on #102
@CDuPlooy , Tis indeed the reason 😉

[2018-05-14 07:33] FJMentz commented on #100
#29 is marked as duplicate and closed? Can you please reference the 'duplicated' one @egeldenhuys .

[2018-05-14 07:45] egeldenhuys commented on #100
Sorry that should probably have been #85 instead of #29

[2018-06-01 15:12] egeldenhuys commented on #92
The JWT should contain the username, will this be sufficient?

[2018-06-01 15:23] egeldenhuys commented on #64
I did some work on this in [docks-api-address-#64](https://github.com/TripleParity/docks-ui/compare/docks-api-address-%2364), however my code assumes Docks API is running, and crashes on Travis.

[2018-06-04 10:10] egeldenhuys opened #107 "External resources and demos"
Currently the front-end is loading jquery, bootstrap, poppers and fonts from external servers.
My main concern is that if the WiFi does not work during a demo, then we will not be able to demo.

Is it possible to package these resources during the build stage or serve them from a static directory?

[2018-06-04 10:17] egeldenhuys commented on #45
I see there are many different design ideas in the Drive folder, which parts of those ideas will make it into the final design (for now)?

[2018-06-07 07:50] egeldenhuys commented on #64
Also note that when deploying in a swarm `localhost` has to be replaced with `127.0.0.1`

[2018-06-07 20:16] ghost commented on #45
For now the idea is a hybrid of the following ideas;
 - selecting an operation for a component (task, volume, network etc etc) from a drop down menu in the idea 3 folder
- The tab view in idea 4.

The idea behind this is that the user will be able to click on an operation which takes them to the right tab menu for that operation, but if they want to perform a separate operation they will be able t

[2018-06-09 12:20] egeldenhuys commented on #58
Thank you @Paulo-W  for your [design](https://docs.google.com/drawings/d/1XJFttNo3SORSK9GYXTi-pXECP9GcauVBgQ41TistYs4/edit). I have made a colour neutral design that more accurately reflects the login page requirements.

![login-page-1](https://user-images.githubusercontent.com/5778739/41191326-08520e08-6bee-11e8-98a1-ff565c444a54.png)

[2018-06-11 14:57] ghost commented on #58
I feel the red bar should appear above the log in button instead.
The reason for this is it creates a friendlier UI. If the user happens to type in inaccurate features, their current attention or field of view is focused directly on the "Login" button. If the red bar appears directly above it they know they can associate it to their current action.
Also "Docks on GitHub", directly under log in mig

[2018-06-11 15:15] egeldenhuys commented on #58
The GitHub icon below the login button also tricked me into thinking it is "Login with GitHub".

![login-page](https://user-images.githubusercontent.com/5778739/41240476-dfe660dc-6d9a-11e8-8168-14fb24fe900a.png)

[GitHub Corners](https://github.com/tholman/github-corners)

[2018-06-11 15:15] ghost commented on #58
Very nice

[2018-06-11 16:16] #30 closed, assigned to nobody

[2018-06-11 16:16] #33 closed, assigned to nobody

[2018-06-11 16:16] #34 closed, assigned to nobody

[2018-06-11 16:16] #35 closed, assigned to FJMentz

[2018-06-11 16:16] #36 closed, assigned to FJMentz, annamarieHelberg

[2018-06-11 16:16] #40 closed, assigned to nobody

[2018-06-11 16:16] #41 closed, assigned to FJMentz, annamarieHelberg

[2018-06-11 16:19] #49 closed, assigned to nobody

[2018-06-11 16:19] #50 closed, assigned to nobody

[2018-06-11 16:19] #51 closed, assigned to nobody

[2018-06-11 16:19] #52 closed, assigned to nobody

[2018-06-11 16:19] #53 closed, assigned to nobody

[2018-06-11 16:19] #54 closed, assigned to nobody

[2018-06-11 16:19] #56 closed, assigned to CDuPlooy, FJMentz, annamarieHelberg

[2018-06-11 16:19] #57 closed, assigned to nobody

[2018-06-11 16:23] egeldenhuys commented on #92
Closing as the front-end should have sent the username in the first place. Also to communicate with Docks API, a JWT is required that will contain the username.

[2018-06-11 16:23] #92 closed, assigned to nobody

[2018-06-11 16:33] egeldenhuys commented on #75
A useful summary would be
- Number of Nodes in the swarm
- Number of services in the swarm
- Number of tasks in the swarm
- Total RAM of swarm

There might be more useful metrics that I did not mention

[2018-06-16 14:45] egeldenhuys opened #109 "Error with lazy loading of Volumes"
Can anyone reproduce this error?

#### Issue description
When loading a link that should trigger a lazy load the following error occurs:

Firefox:
[code]

Chrome:
[code]

#### Steps to reproduce
1. Setup environment (Assumes `ng` has already been installed globally)
[code]
2. Open http://127.0.0.1:4200 using Firefox or Chrome
3. Open developer tools
4. Click on Volumes List View

[2018-06-17 08:41] egeldenhuys commented on #109
It seems to work fine when using `ng serve --aot`

[2018-06-17 09:09] egeldenhuys opened #111 "Integration testing"
The commit 592acfe1b7d2d4051cfb62cd9eea6859d8bf08c9 passes all tests and builds fine, however it is totally unusable in production. Since all tests pass we assume it works fine and might make its way into develop or even master.

The default Angular tests only catch errors in `onInit()` and `constructor`, for that specific component and its dependencies.

I suggest we do a full system integration

[2018-06-18 06:58] egeldenhuys opened #112 "Standard code formatting"
Currently some files are indented using 2 spaces, others 4, and some use a mixed strategy.

The problem comes when someone modifies a file and formats it in the same commit. It then becomes hard to see which changes are due to formatting and which are functional changes.

I propose we use [Prettier](https://github.com/prettier/prettier). It has plugins for most [editors](https://prettier.io/docs/e

[2018-06-19 12:37] egeldenhuys opened #113 "Replace JavaScript Bootstrap with Angular Bootstrap"
Currently we are [loading bootstrap.min.js](https://github.com/TripleParity/docks-ui/blob/3410d9a1deed5ff6fdbfbcbd07809acebeac51cc/src/index.html#L11-L14) and [importing ng-bootstrap](https://github.com/TripleParity/docks-ui/blob/3410d9a1deed5ff6fdbfbcbd07809acebeac51cc/package.json#L23)

The goal of [ng-bootstrap](https://ng-bootstrap.github.io/#/getting-started) is to replace the JavaScript impl

[2018-06-19 13:29] #58 closed, assigned to egeldenhuys

[2018-06-19 13:29] #48 closed, assigned to egeldenhuys, CDuPlooy

[2018-06-19 13:29] #64 closed, assigned to egeldenhuys

[2018-06-19 13:29] #109 closed, assigned to nobody

[2018-06-20 18:05] egeldenhuys commented on #100
We now have a login page

[2018-06-20 18:05] #100 closed, assigned to nobody

[2018-06-29 06:38] egeldenhuys opened #114 "Deploy Stack"
Docker API does not expose Stack functions, so the back-end needs to wrap Docker CLI.

To deploy a stack the front-end has to send the contents of the docker-compose file to the back-end along with the stack name. The docker-compose file should be editable in the front-end.
The front-end should report errors returned from the back-end, such as "Stack name already exists", and other docker-compose

[2018-06-29 06:46] egeldenhuys commented on #114
My proposed screen design:
Change it, improve it, redesign it, but keep surprises to a minimum.

![deploy_stack_1](https://user-images.githubusercontent.com/5778739/42077073-ec23cffc-7b77-11e8-8365-f7388bc3ae77.png)

[View .svg in docks/docs/screen-designs](https://github.com/TripleParity/docks/tree/requirements-design/docs/screen-designs)

[2018-06-29 06:51] egeldenhuys commented on #67
My view of how the pages should connect to each other:

![pages](https://user-images.githubusercontent.com/5778739/42077498-6b1f553c-7b79-11e8-9a24-ad7a7680f42e.png)

[View UML source file](https://github.com/TripleParity/docks/tree/requirements-design/docs)

[2018-06-30 06:18] egeldenhuys opened #115 "User Management"
Permissions and roles will be added later

- [x] View list of users
- [x] Create user
- [x] Update user (change password)
- [x] Delete user

Related back-end PR: TripleParity/docks-api/pull/51

[2018-06-30 19:52] egeldenhuys commented on #14
Duplicate of #114 . Closing this as the new issue has more detail.

[2018-06-30 19:52] #14 closed, assigned to nobody

[2018-07-01 04:40] egeldenhuys opened #117 "Page loading indicator"
Currently when switching between pages the screen is blank while API calls are being made.

It would be a better user experience if we indicated that something is happening and they should stay calm - IE did not crash.

[2018-07-06 14:32] annamarieHelberg opened #119 "Services Pages"
- [ ] 1. Add a page for create service
- [ ] 2. Create page to inspect service, view its tasks (docker ps), detail, etc.
- [ ] 3. Create update page
- [ ] 4. Link to Stack page (compose operation)
- [ ] 5. Look at redeploying the service
- [ ] 6. Look into how logs will be displayed and implement it
- [x] 7. Add filter to list-view page
- [ ] 8. Change column names according to what Compiax wants

[2018-07-06 14:38] annamarieHelberg opened #120 "Remove Mock Services"
We need to start move away from the mock Service and test it with our services. This should be implemented by Demo 4.

[2018-07-06 14:57] annamarieHelberg opened #121 "Refactor frontend structure"
We need to refactor our code. It is extremely difficult to follow, components are placed everywhere and the same modules are included multiple times because our structure doesn't allow for a single inclusion.

I will comment on this issue very soon with a structure that we can implement. This will make following our code much easier not just for us, but also everyone else that will look at our cod

[2018-07-10 07:04] annamarieHelberg opened #123 "Create and fix pages"
This includes creating pages that are outstanding: stack pages, graph pages, etc.

This also includes the issues
- [X] #105
- [X] #104
- [X] #102
- [X] #101
- [ ] #75
- [x] #119

[2018-07-10 07:15] annamarieHelberg commented on #121
The structure we can follow is: Having only the navbar, userbar and auth.guard in the shared folder. This is logical as these things get shared by all pages. The other folder/files in the current _shared folder can be moved to a pages directory. This include the refresh page. We keep the classes, services and models as is.

We will also need to improve on the logic that the home.html is the new ap

[2018-07-10 12:54] egeldenhuys commented on #121
I forgot to move the refresh page while implementing the Login page.

The HomeModule/Component was introduced so we can display single components at the root level without having to add extra logic to hide the user bar and nav bar. I was planning on lazy loading the HomeModule but lost sight of that goal along the way. If the old structure will make things significantly simpler then it can be reve

[2018-07-10 15:29] annamarieHelberg commented on #121
There are no official structure for the styling but the way we have it is confusing. Compiax showed me how they do their structuring which is a lot simpler and easy to implement.

There are other ways of implementing it but out current structure complicates it. If I recall correctly, we can use the auth service or the auth.guard to do the same job.

No, this is not what I meant. The user-managemen

[2018-07-10 15:36] annamarieHelberg commented on #121
It is bad practice and makes following the code difficult. There are no serious complications but it will make the code neater.

[This](https://medium.com/@cyrilletuzi/understanding-angular-modules-ngmodule-and-their-scopes-81e4ed6f7407) explains a more about where/why to implement modules

[2018-07-10 17:32] Jason-vh commented on #121
I figured I'd just jump in here to elaborate and expand on what Anna-Marié is saying:

While there are a plethora of accepted conventions for Angular, we found a particular structure that worked for us by being particularly scalable and easy to follow. While it is not mandatory to follow it, I'll provide an explanation of it as well as our thinking behind it in the hopes that it will help your dis

[2018-07-10 18:56] egeldenhuys commented on #121
Thank you for the explanation @annamarieHelberg  and @Jason-vh. I think I am now on the same page.
The proposed directory structure does make more sense.

So the only complication left to solve is the Home Module.

An alternative to having only `<router-outlet>` in `AppComponent` is to use the following as it was before, but with logic to hide the user and nav bar: (Not tested)
[code]

[2018-07-10 18:59] annamarieHelberg commented on #121
Yes, @egeldenhuys that code snippet is what I had in mind. It will significantly improve the understandability of the code as we can completely remove the logic from the page

[2018-07-10 19:21] egeldenhuys opened #124 "Revert Home Module"
As discussed in #121 the Home Module can be removed and replaced with something similar to the following in the `AppComponent`

(Not tested)
[code]

[2018-07-10 19:24] annamarieHelberg commented on #124
I will test this tomorrow and give you feedback on what I find. Thanks @egeldenhuys

[2018-07-11 15:21] annamarieHelberg commented on #124
I've been struggling with this for a while now and came to the conclusion that in order to implement this we need to do it when we refactor. But, when I created my login page I implemented it with the ngIf so I know it works.

I will follow up on this as soon as we have decided what will happen with the refactor (#121 ).

[2018-07-11 15:24] annamarieHelberg commented on #121
@egeldenhuys, @CDuPlooy, @FJMentz can we decide on this matter by Friday? If we want to refactor this needs to happen as soon.

[2018-07-12 05:30] egeldenhuys commented on #121
I am happy with the plan to refactor the directory structure and remove the Home Module

[2018-07-12 06:31] egeldenhuys commented on #111
Again I merged code that passed all the Travis CI tests but contains errors during runtime.

[2018-07-12 06:43] egeldenhuys opened #126 "Task List and Card view broken"
Introduced by #116

Console error
[code]

![screen shot 2018-07-12 at 08 41 57](https://user-images.githubusercontent.com/5778739/42616695-7ec420be-85af-11e8-8c6c-2e0fdfcb46ad.png)
![screen shot 2018-07-12 at 08 42 01](https://user-images.githubusercontent.com/5778739/42616696-7f057a78-85af-11e8-8a1b-748c15b1828d.png)

[2018-07-12 06:45] #115 closed, assigned to egeldenhuys

[2018-07-12 07:45] CDuPlooy commented on #126
Fixed by f020bd048dd52e825d975d506eafa3b01104cab9

[2018-07-12 07:45] #126 closed, assigned to CDuPlooy

[2018-07-12 09:22] annamarieHelberg commented on #121
Thank you @egeldenhuys I will look into this

[2018-07-12 14:24] ghost opened #128 "Turning list view into a table"
Currently I feel the view for the service and volume list view (I don't feel it matters to much with the task view) does not give the user enough information without them first clicking on the listed item to bring down what basically already resembles a table. Secondly the view currently is unintuitive and may result in the user never clicking the list revealing the replicas mode etc etc. Thirdly

[2018-07-12 14:30] ghost commented on #128
Too view the image the we can make drop down like so
![screenshot_2018-07-12 untitled drawing 1](https://user-images.githubusercontent.com/22499677/42639672-e55a44fc-85f0-11e8-8328-15758ca67ce0.png)

[2018-07-12 17:22] annamarieHelberg commented on #128
@Paulo-W we dicussed this issue in a meeting. We all decided on using the ngx-datatable for all the list views.

[2018-07-12 18:36] ghost commented on #128
@annamarieHelberg  Yes thanks I remember I just wanted to document it since that was a long time ago and nothing has been done since

[2018-07-12 18:40] annamarieHelberg commented on #128
This is linked to #123 . We need all the list views to be updated. This is why I closed this issue.

[2018-07-12 18:43] #128 closed, assigned to nobody

[2018-07-12 18:45] annamarieHelberg commented on #120
@CDuPlooy can we please start looking into this. The majority of functions have been implemented but can we please start testing it with real data to see if they work?

[2018-07-12 18:48] CDuPlooy commented on #120
Sounds good ^^

[2018-07-13 08:21] CDuPlooy commented on #120
So just an update on this. And a few questions ^^ This seems related to #111. Are we focusing on integration testing or specifically the removal of the mock service? Those might seem to go hand in hand but I don't think they should.

The idea behind the mock service was that it be used when something in the api fails during a demo - hope for the best but plan for the worst and all that. Personally

[2018-07-13 08:29] CDuPlooy commented on #111
I've been thinking about this for some time and I do believe we've talked about it in the meetings; I'd like to recap though and get everything in one place.

Ideally you'd create some known state, query the API and verify that we get valid results. What are we testing though? Are we talking about using something like karma and phantomjs to trigger user interaction that deletes a container for ins

[2018-07-13 08:39] CDuPlooy commented on #121
I don't recall exactly why components were thrown into _shared; Perhaps at the time we were rushing for a demo.  The suggested changes seem logical, I'm on board. :)

Some clarification; The home component was added because we had nothing to default to when the route specified isn't configured to any component.  I did mention this in a meeting, it could be removed at any time - it was placed as is

[2018-07-13 08:55] egeldenhuys commented on #120
Mock services are useful when the back-end is not yet capable of providing the data. This allows the front-end to be implemented and tested and then without hassle switch over to using live data from the back-end.

As with the example given above, it allows us to demonstrate functionality that is not yet supported by the back-end.

However from a Continuous Deployment perspective I prefer to only

[2018-07-13 09:18] egeldenhuys commented on #111
In the problems I encountered a test such as "When I navigate to this page, I should not get an error and some data should be displayed".

I agree, we do not really want to test the API as it has already been tested at a lower layer.

Example test for deleting a service:
1. Deploy a new service using Docks API
2. Verify that service is displayed in Docks UI service list
3. Delete the service using

[2018-07-13 09:26] #113 closed, assigned to nobody

[2018-07-13 12:32] annamarieHelberg commented on #120
I agree with you @CDuPlooy  that it is helpful but we have no idea whether the actual functions really work. Also, this is demo 4 so actually by now we shouldn't have any mock services anymore. If the backend doesn't support some functions yet it is quite a big concern and should be investigated.

[2018-07-13 12:35] CDuPlooy commented on #120
I'm on mobile so I'm not going to use the @s right now x)

I'm currently working on proper tests in the testing branch. Most of my time has gone into researching though. I'll pm you what I have so far and we can start working on it. :)

[2018-07-13 16:30] annamarieHelberg commented on #124
This is handled in #121.

[2018-07-15 12:41] egeldenhuys opened #131 "View Stacks"
Related back-end PR: TripleParity/docks-api/pull/60

CLI information available
[code]
[code]

My rough design for the page, improve it if you are able to :wink:

![stack_list_2](https://user-images.githubusercontent.com/5778739/42037344-74f7b5fe-7ae8-11e8-9918-012bf145d903.png)

This should be the accessible from the "Stacks" link in the navbar. So a `Create Stack` button is required

[2018-07-17 12:26] #107 closed, assigned to nobody

[2018-07-17 12:26] #117 closed, assigned to nobody

[2018-07-17 12:26] #104 closed, assigned to FJMentz

[2018-07-17 14:43] annamarieHelberg commented on #121
I could only test the branch now as I had to redo my setup on my computer. I see that my css magics fail on  another monitor for the login page. The github logo moves down. And I get 500 errors when requesting the task list/card view and services list view. @egeldenhuys  is it a problem on my side?

Edit: I am aware that 500 errors mean it's server errors but I want to know if you get the same err

[2018-07-17 15:03] devosray commented on #121
@egeldenhuys I'm running into the same issue on the login page:
![image](https://user-images.githubusercontent.com/5329962/42825927-71208b72-89e3-11e8-888f-31f857fa4be4.png)

I am not getting server errors though.

[2018-07-17 15:17] egeldenhuys commented on #121
I will investigate the server errors

[2018-07-17 15:49] egeldenhuys commented on #121
@annamarieHelberg What version of Docks API are you using?

[2018-07-18 06:50] annamarieHelberg commented on #121
@egeldenhuys I have the latest version of Docks API now but I still get 503 errors when requesting those pages.

[2018-07-18 07:23] annamarieHelberg commented on #121
I fixed it @egeldenhuys . There's nothing a good uninstall and re-install can't fix 😌

[2018-07-18 14:06] #124 closed, assigned to annamarieHelberg

[2018-07-18 14:07] #121 closed, assigned to egeldenhuys

[2018-07-18 14:07] #112 closed, assigned to nobody

[2018-07-20 10:18] #131 closed, assigned to nobody

[2018-07-23 06:43] egeldenhuys commented on #114
Closed by PR

[2018-07-23 06:43] #114 closed, assigned to nobody

[2018-07-23 06:44] egeldenhuys commented on #44
Closed by PR

[2018-07-23 06:44] #44 closed, assigned to nobody

[2018-07-23 06:45] egeldenhuys commented on #105
~Has this been resolved yet @FJMentz ?~

EDIT: See referenced PR

[2018-07-23 16:14] #106 closed, assigned to CDuPlooy, FJMentz, annamarieHelberg

[2018-07-23 16:14] #105 closed, assigned to FJMentz

[2018-07-23 16:14] #102 closed, assigned to FJMentz

[2018-07-27 14:30] annamarieHelberg opened #146 "Fix task page and operations"
1. [ ] Test operations
2. [ ] (optional) Fix operations
3. [ ] Update list view
4. [ ] Create detailed view page
5. [ ] Delete card view

[2018-07-28 09:16] egeldenhuys commented on #70
Are we going to replace this page with the Graph page?

[2018-07-28 09:26] FJMentz commented on #70
@egeldenhuys I think that is an excellent idea!

[2018-07-28 09:29] egeldenhuys commented on #70
Replaced by #75

[2018-07-28 09:29] #70 closed, assigned to nobody

[2018-08-10 16:30] egeldenhuys opened #147 "Volumes"
- [x] Volume List - `/volumes`
- [x] Volume Details - `/volumes/{volume_name}`
- [x] Create Volume - `/volumes/create`
- [x] Delete volume from detail page
----

### Volume List - `/volumes`
#### Display
- Name
- Driver

#### Links
- New volume `/volumes/create`
- View volume `/volumes/{volume_name}`

### Volume Details - `/volumes/{volume_name}`
#### Display
- Name
- Scope
- Mountpoint
- Driver i

[2018-08-10 16:59] egeldenhuys commented on #101
Fixed by #147

[2018-08-10 16:59] #101 closed, assigned to nobody

[2018-08-10 17:00] egeldenhuys commented on #45
Using Swarmpit as a reference now

[2018-08-10 17:00] #45 closed, assigned to nobody

[2018-08-10 17:41] egeldenhuys opened #148 "Networks"
TODO:
- [X] List view
- [ ] Create view
- [x] Detail view
- [ ] Delete from detail view

----

By placing the delete action on the detail view, we can simplify the list view page and make it harder to accidentally delete the wrong network.

### View Networks - `/networks`
#### Display
- Name
- Driver

#### Links
- View network details `/networks/{network_name}`
- Create network `/networks/create`

[2018-08-10 17:55] egeldenhuys opened #149 "Tasks"
### View Tasks `/tasks`
#### Display
- Name
- Image
- Node
- Status

#### Links
- View Task details `/tasks/{task_id}`

### View Task details `/tasks/{task_id}`
#### Display
- ID
- Service
- Name
- Created
- Last Update
- Image
- Node
- Status
  - State
  - Desired State

[2018-08-10 18:09] egeldenhuys opened #150 "Nodes"
Here we can use a card view since the number of nodes may be small

### View Nodes `/nodes`
#### Display
- Name
- Docker engine version
- IP Address
- Availability (ready/down/?)
- Worker/Manager? (role)
- State (active/pause/drain)
- CPUs available
- RAM

#### Links
- View node detail `/nodes/{node_id}`

### View node detail `/nodes/{node_id}`
#### Display
- ID
- Name
- Role
- OS
- Resources (no

[2018-08-10 18:11] ghost commented on #149
Can I please start working on the detailed page view here, I feel once it has been set up in tasks we will be able to propagate it further onwards. Unless someone is already working on it?

[2018-08-10 18:21] egeldenhuys opened #151 "Detail View Style"
The style and layout for detail pages should be consistent.

Prototypes should be implemented in code to make it easy to start using.
Once a prototype has been made open a PR for discussion. Once approved the design can be implemented.

[2018-08-10 18:22] egeldenhuys commented on #149
@Paulo-W can you please create a prototype design and we can have a group discussion?
See #151

[2018-08-10 18:31] ghost commented on #151
Will do :+1:

[2018-08-20 18:50] egeldenhuys opened #152 "Pre-configured Stacks"
- [x] Create separate page and make interface look nice?
- [ ] Add more stacks
  - GitLab
  - NextCloud
  - Traefik
  - ???

[2018-08-20 18:57] egeldenhuys commented on #146
Information displayed by Swarmpit: #149

[2018-08-24 10:19] egeldenhuys opened #153 "Two Factor Authentication"
We will be using [speakeasyjs](https://github.com/speakeasyjs/speakeasy) for 2FA.

It will be most flexible if we make 2FA optional.

Process:
1. Client sends Credentials as normal
2. Server responds in a way that indicates 2FA is required
3. Client sends code from 2FA code generator
4. Server validates and returns Auth token as normal

Depends on: TripleParity/docks-api/issues/67

[2018-08-27 12:57] #67 closed, assigned to FJMentz

[2018-08-30 09:42] egeldenhuys opened #154 "Error fetching Services from Docks"
- [GET `/v1.37/services` Response](https://gist.github.com/egeldenhuys/34f07876cf3e150e7873f92ce009c781)

[code]

@CDuPlooy it seems to be a model mismatch between Docks and Docker

[2018-09-06 09:40] egeldenhuys commented on #154
Closed by #155

[2018-09-06 09:40] #154 closed, assigned to nobody

[2018-09-06 09:42] egeldenhuys opened #157 "Modify Volumes Service to return Docker Errors"
Docker API returns some useful error messages. It would be good if we can display them.

Related to #156 and #147

[2018-09-06 21:47] ghost commented on #151
Some basic html ideas for each page have been implemented excluding ngx-dataTables in the services page and stack page.
**Task Detail Page**
![image](https://user-images.githubusercontent.com/22499677/45186281-35c25200-b22d-11e8-9312-cf850050270b.png)

**Service Detail Page**
![image](https://user-images.githubusercontent.com/22499677/45186829-0d3b5780-b22f-11e8-9c81-3617ee44176b.png)

As stated t

[2018-09-07 07:56] egeldenhuys commented on #151
Looks very good!

For the **Service Detail Page**, we will work on teams as a last priority so the date created and updated can be moved to general and the Meta section removed.

Seeing as we will be using Services and Tasks datatables in two locations, I wonder if it will be worth making those shared components which accepts arguments. That way the tables can be included as one-liners in the HTML

[2018-09-18 08:39] CDuPlooy commented on #157
The angular services now all return [ int, string ] or [ code, message] respectively.

[2018-09-18 08:42] egeldenhuys commented on #157
Closed by #158

[2018-09-18 08:42] #157 closed, assigned to nobody

[2018-09-20 18:15] #151 closed, assigned to nobody

[2018-09-20 18:17] egeldenhuys commented on #146
Implemented by #163

[2018-09-20 18:17] #146 closed, assigned to CDuPlooy, annamarieHelberg

[2018-09-20 18:17] egeldenhuys commented on #150
We will omit Node detail view for now. The table gives enough relevant information.

[2018-09-20 18:17] #150 closed, assigned to nobody

[2018-09-20 18:19] egeldenhuys commented on #149
List view has been implemented, still need to do the detail view

[2018-09-20 18:20] egeldenhuys commented on #148
List view has been implemented

[2018-09-20 18:21] egeldenhuys commented on #147
Just need a delete button then the basic version will be complete

[2018-09-20 18:23] egeldenhuys commented on #119
For now we will focus on the Stack create and edit page as it provides the same ability as the stack pages but with less work (just need to reverse docker inspect to create a docker compose file)

[2018-09-20 18:23] #119 closed, assigned to FJMentz, annamarieHelberg

[2018-09-20 18:24] egeldenhuys commented on #123
Closing To Do list issue

[2018-09-20 18:24] #123 closed, assigned to FJMentz, annamarieHelberg

[2018-09-20 18:25] egeldenhuys commented on #120
All data is now live and the MockService is no longer being used

[2018-09-20 18:25] #120 closed, assigned to CDuPlooy, annamarieHelberg

[2018-09-20 18:26] egeldenhuys commented on #43
Slack integration (#47 ) will provide this

[2018-09-20 18:26] #43 closed, assigned to nobody

[2018-09-28 06:50] egeldenhuys commented on #153
Closed by #166

[2018-09-28 06:50] #153 closed, assigned to devosray

[2018-09-28 06:51] egeldenhuys opened #167 "Remove paging from datatables"
Since we are already fetching all the data it would be more convenient to display everything at once.

[2018-09-29 12:26] egeldenhuys opened #168 "Editor for Stacks"
Since this is a core function of the project it would be good to have a decent text editor:
- Line numbers
- yaml highlighting
- TAB support

Something like https://ace.c9.io/

[2018-09-29 12:49] egeldenhuys opened #169 "Detail view pages"

[2018-09-29 12:54] egeldenhuys opened #170 "Service Create and Edit Page"
Swarmpit looks nice :wink:

[2018-09-29 13:12] egeldenhuys opened #171 "Filter log files"
It seems Docker adds meta data to the lines of the log file. This needs to be removed before we display the log.

See https://github.com/moby/moby/issues/7375

[2018-09-29 13:50] egeldenhuys opened #172 "Stop or replace timer on Nodes page"
Currently each time the Nodes page is visited, another timer (`setInterval`) is started. The old timer is not stopped. This may cause problems for extended use.

Either we need to stop the timer when navigating away from the page, or stream docker events using the API.

[2018-10-01 09:14] egeldenhuys opened #173 "Stack Delete confirmation is missing stack name"
![naam](https://user-images.githubusercontent.com/5778739/46280040-2653d180-c56b-11e8-9134-6e84e1811ee0.png)

[2018-10-01 09:18] egeldenhuys opened #174 "Manage WebHooks"
- [ ] View
- [x] Create
- [ ] Delete
- [ ] Edit (last priority)

Requires https://github.com/TripleParity/docks-api/issues/82

[2018-10-01 09:29] egeldenhuys opened #175 "Vague error message when API offline"
[code]

[code]

[code]

If possible it would be useful to know that the API could not be reached and to reserve vague errors for `HTTP 500`

[2018-10-01 09:35] egeldenhuys opened #176 "Only log errors to console"
Currently a large amount of debug information is being logged by different components, this makes debugging difficult.

I suggest
- [ ] Remove existing debug logs
- [ ] Log all errors
- Require debug logs to be removed before merging into develop

[2018-10-01 09:38] egeldenhuys opened #177 "Use standard layout for all pages"
Currently the following pages are not consistent with the layout:
- [ ] Users
- [ ] Networks
- [ ] Nodes

See the Service page for the preferred layout.

Layout suggestions are welcome

[2018-10-01 09:45] egeldenhuys opened #178 "Delete Service"
The button is there but not functional

[2018-10-01 09:48] egeldenhuys opened #179 "Strip image metadata from Task list"
Everything after the `@` can be discarded

[2018-10-01 09:49] egeldenhuys opened #180 "Display node name instead of ID in Task List"
If this requires backend changes then an API spec should be drafted

[2018-10-01 09:51] egeldenhuys commented on #180
Related backend issue: TripleParity/docks-api/issues/71

[2018-10-01 10:07] egeldenhuys opened #181 "Fix datatable sorting"
The sorting does not seem to work on the following pages
- [x] Tasks
- [x] Nodes
- [x] Networks
- [x] Volumes

[2018-10-01 10:13] egeldenhuys opened #182 "Generic datatable filtering class"
Currently we have many datatables with many columns, it would save time to make a generic class for filtering rows based on multiple columns.

I propose the following class:

Input:
- unfiltered array of objects
- columns names to apply filtering on
- string to filter by

Output:
- Reference (In TypeScript?) to filtered data to display in the table

[2018-10-01 10:17] FJMentz commented on #172
So I might have found a possible solution [here](https://github.com/NativeScript/nativescript-angular/issues/1049). I'm note sure however if this will work in all cases.

[2018-10-01 10:20] ghost commented on #178
The delete Pages for Networks + Volumes also still need to be done I am just letting everyone know I will handle them with the complete detail pages branch which I am currently working on now.

[2018-10-01 10:21] egeldenhuys commented on #172
That might work, thank you for finding that

[2018-10-01 10:23] FJMentz commented on #172
I will try to implement and test this by tonight, just need to setup another computer to have more than one node in my development swarm.

[2018-10-01 10:31] FJMentz commented on #173
Will look into this.

[2018-10-02 08:18] annamarieHelberg opened #183 "Finish Dynamic Graphs"
We need to get the graphs going with dynamic data.
- [x] Nodes running, stopped ,etc.
- [x] Stacks deployed
- [x] CPU usage over all nodes (maybe)
- [x] Add fascinating graph things

[2018-10-07 11:07] ghost commented on #147
Is not available in the volume sent through. Also should I not display the labels of the volume in detail view as well?

[2018-10-07 11:10] ghost commented on #173
Are we not going to implement a feature where the user has to type the name of the object they want to delete before it is deleted??

[2018-10-07 11:17] ghost commented on #167
I'm not so sure, having a page that has 1000 elements on it will possibly slow performance, having less space for elements places more focus on the search bar and that is probably what the user is going to use any way. But I think we should have a vote on this please.

[2018-10-07 11:19] CDuPlooy commented on #167
I'd also prefer not displaying everything on one page iff we can get the search working. Also possibly sort by state or something similar.

[2018-10-07 15:20] egeldenhuys commented on #167
Maybe a sane limit such as 100 items would be better then? We can test the performance with more elements.

My reason for wanting to see more is often I want to get an overview of what is happening, without navigating table pages.

Sort and multi column searching would already help

[2018-10-07 15:21] egeldenhuys commented on #167
Data tables has a 10k element demo that works fine, can't remember if it is one one page though

[2018-10-07 15:23] egeldenhuys commented on #173
That would be a nice feature, but a low priority currently

[2018-10-07 15:26] egeldenhuys commented on #147
An optimisation would be to add a API endpoint, to return service details given a volume ID.

Yes, please display labels as well

[2018-10-08 08:39] egeldenhuys commented on #172
Fixed by @CDuPlooy for another page, see his solution

[2018-10-09 04:02] #180 closed, assigned to nobody

[2018-10-09 04:02] #179 closed, assigned to nobody

[2018-10-09 04:02] #177 closed, assigned to nobody

[2018-10-09 04:02] #169 closed, assigned to nobody

[2018-10-09 04:02] #167 closed, assigned to nobody

[2018-10-09 04:02] #149 closed, assigned to nobody

[2018-10-09 04:05] egeldenhuys opened #186 "Filter tasks by service"
In the TasksService a filter has to be added for the ability to only retrieve tasks that relate to a specific service. This will be used on the service detail page. See https://docs.docker.com/engine/api/v1.37/#tag/Task

[2018-10-09 13:14] egeldenhuys opened #187 "Make Home link a routerlink"
Currently the home button refreshes the page, it should instead use a routerlink as all other links.

[2018-10-09 15:00] egeldenhuys opened #189 "Make navbar scrollable"
Currently the side navigation bar does not scroll and can be obscured by a small window

[2018-10-09 15:19] egeldenhuys commented on #170
The Stack edit and create will be sufficient.

[2018-10-09 15:19] #170 closed, assigned to nobody

[2018-10-09 18:11] FJMentz commented on #181
As I'm going through these I'm also fixing the search (filter) functions.

[2018-10-09 19:52] egeldenhuys commented on #147
Implemented by #188

[2018-10-09 19:52] #147 closed, assigned to nobody

[2018-10-09 21:13] FJMentz commented on #172
Addressed along with #181 in commit [9254413](https://github.com/TripleParity/docks-ui/commit/9254413847fcd0b474e98f4f19d2f48f3e0b0ba3)

[2018-10-09 21:22] annamarieHelberg opened #191 "Placeholder for ide"
Write an event handler that emulates the placeholder of a text area.

[2018-10-09 22:28] FJMentz opened #193 "Offset problem"
This might have been previously addressed, but while working I noticed a small offset problem of one of the elements. Please see image attached. @Paulo-W you're good at these things, will you please just check it out?

<img width="1680" alt="screen shot 2018-10-09 at 23 24 32" src="https://user-images.githubusercontent.com/17801831/46702487-93c6c880-cc23-11e8-891e-6f591b2033b4.png">

This was whil

[2018-10-10 13:44] FJMentz commented on #187
Home button asin the docks logo?

[2018-10-10 13:47] egeldenhuys commented on #187
Yes

[2018-10-10 13:48] FJMentz commented on #187
Seems easy enough, I will do this in my next branch as an add on so that I don't need to create a branch for one line change.

[2018-10-10 13:50] egeldenhuys commented on #182
Closed by #192

[2018-10-10 13:50] #182 closed, assigned to nobody

[2018-10-10 14:03] egeldenhuys commented on #11
Closed by #192

[2018-10-10 14:03] #11 closed, assigned to FJMentz

[2018-10-10 14:04] #173 closed, assigned to FJMentz

[2018-10-10 14:04] #181 closed, assigned to FJMentz

[2018-10-10 14:04] #172 closed, assigned to FJMentz

[2018-10-10 14:23] egeldenhuys commented on #176
Implemented by ???

[2018-10-10 14:23] #176 closed, assigned to nobody

[2018-10-10 14:56] egeldenhuys commented on #174
This also involves creating the frontend WebHooks service

[2018-10-10 14:59] egeldenhuys commented on #174
Related docks-api issue: https://github.com/TripleParity/docks-api/issues/82

[2018-10-10 15:36] #187 closed, assigned to FJMentz

[2018-10-10 15:36] #168 closed, assigned to CDuPlooy, annamarieHelberg

[2018-10-10 20:27] FJMentz commented on #152
So after much thought and some work I think this (adding a separate page) is unnecessary. Creating a separate page for just the preconfigured stacks would be redundant since you would still have to give the stack a name and also you would need to possibility to edit the preconfigured stack's setup. So in essence the only difference would be that the one page has an upload button and the other does

[2018-10-10 22:37] FJMentz commented on #152
I withdraw above comment XD

[2018-10-11 10:53] ghost commented on #193
Already fixed will make a new pull request for services update soon

[2018-10-11 19:32] annamarieHelberg opened #196 "Side navbar size difference"
The navbar seems to change in size depending on the page you are on. I don't know if this has been addressed but I think if there is time we should fix this. Please and thank you.

[2018-10-11 20:23] egeldenhuys commented on #196
With the scroll bar appearing? Or is it more severe?

[2018-10-11 20:27] #193 closed, assigned to nobody

[2018-10-11 20:28] #189 closed, assigned to nobody

[2018-10-11 20:28] #178 closed, assigned to nobody

[2018-10-11 20:28] #186 closed, assigned to nobody

[2018-10-11 20:40] annamarieHelberg commented on #196
It is a very slight offset. It might be because of the scroll bar. That is why I said if we have time.

[2018-10-11 20:43] egeldenhuys commented on #196
We will review this issue again later

[2018-10-11 20:43] #196 closed, assigned to FJMentz

[2018-10-11 20:44] egeldenhuys commented on #196
Thank you for spotting this, I never noticed it until now!

[2018-10-11 21:45] #148 closed, assigned to nobody

[2018-10-12 05:34] devosray opened #199 "Update Stackfile"
The new `/stacks/<name>/stackfile` [endpoint](https://github.com/TripleParity/docks-api/pull/86) allows us to reverse engineer a stack file from the name of a stack. We can now use this information to populate the text field of the "update stack" editor to actually update stacks.

[2018-10-12 08:41] CDuPlooy commented on #191
Fixed in https://github.com/TripleParity/docks-ui/pull/202

[2018-10-12 08:41] #191 closed, assigned to annamarieHelberg

[2018-10-12 08:44] CDuPlooy commented on #175
This might require significant changes to the services to do properly.

Me and @FJMentz were playing with this, and I think in some cases an http code 0 is returned in the error object. If so we can use that to map error code 0 -> "Server is offline".

If we cannot do the above we could migate this effect by checking if the server is online in every route ( ie before navigation ). This isn't a com

[2018-10-12 08:45] #171 closed, assigned to annamarieHelberg

[2018-10-12 08:46] CDuPlooy commented on #85
@egeldenhuys , I recall discussing this with you at some point but cannot remember what you recommended as a fix, could you elaborate.

[2018-10-12 08:48] CDuPlooy commented on #75
This will be closed when #183 is closed (@annamarieHelberg is commenting from @CDuPlooy  account)

[2018-10-12 09:02] FJMentz commented on #152
Will do the adding of more stacks later.

[2018-10-13 08:44] egeldenhuys commented on #75
Closed by https://github.com/TripleParity/docks-ui/pull/185

[2018-10-13 08:44] #75 closed, assigned to devosray, egeldenhuys, CDuPlooy, FJMentz, annamarieHelberg

[2018-10-13 08:45] egeldenhuys commented on #183
Closed by https://github.com/TripleParity/docks-ui/pull/185

[2018-10-13 08:45] #183 closed, assigned to CDuPlooy, annamarieHelberg

[2018-10-13 17:38] egeldenhuys opened #204 ""Try in PWD" Button"
We can deploy Docks to Play With Docker using a button, this would be great for demos.
`[![Try in PWD](https://cdn.rawgit.com/play-with-docker/stacks/cff22438/assets/images/button.png)](http://play-with-docker.com?stack=https://<my_stack_url>)`

[![Try in PWD](https://cdn.rawgit.com/play-with-docker/stacks/cff22438/assets/images/button.png)](http://play-with-docker.com?stack=https://raw.githubuser

[2018-10-19 10:30] #204 closed, assigned to egeldenhuys

[2018-10-19 10:30] #199 closed, assigned to devosray

[2018-10-19 10:30] #47 closed, assigned to CDuPlooy, annamarieHelberg

[2018-10-20 07:02] egeldenhuys opened #206 "WebHook triggers are not sent on creation"
The `types` array is always empty, causing subscription to all event types.